body {
    background-color: #B0AEA4;
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid {
    padding: 0;
}

a {
    color: dodgerblue;
}

#input-user-selectized {
    width: auto !important;
    border: 0 !important;
}
