<partial name="_UserPartial" />
<h3>All send and received private messages:</h3>
<div class="container bg-light rounded p-3">
    <div class="col">
        <div class="col-md-4">
            <a asp-controller="Messages" asp-action="Send">Send Messages</a>            
        </div>
        <div class="col-md-4">
            <a asp-controller="Messages" asp-action="Received">Received Messages</a>
        </div>
        <div class="col-md-4">
            <a asp-controller="Messages" asp-action="Create">Sent new message</a>
        </div>
    </div>
</div>