@using ForumTemplate.Common
@model ForumTemplate.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-secondary">Welcome to @GlobalConstants.SystemName!</h1>
</div>
@foreach (var category in Model.Categories)
{
    @*<div class="card bg-primary bg-light border" >
            <div class="card-body">
                <h4 class="text-secondary">@category.Description</h4>
            </div>
        </div>*@


}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Categories</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <div class="card mb-3" >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

        }


    </tbody>
</table>